<%- include('header') -%>
<%- include('navbar') -%>

    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-lg-8">
            <h5>
                <% if (typeof player === 'undefined') { %>
                    Create
                <% }else{ %>
                    Edit
                <% } %>
                player
            </h5> <br/> <br/>
            <form method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                            value="<%= (typeof player === 'undefined') ? '' : player.name %>">
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input type="number" class="form-control" id="age" name="age" placeholder=""
                            value="<%= (typeof player === 'undefined') ? '' : player.age %>">
                </div>
                <div class="form-group">
                    <label for="number">Jersey number</label>
                    <input type="number" class="form-control" id="number" name="number"
                            value="<%= (typeof player === 'undefined') ? '' : player.number %>">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <select class="form-control" id="position" name="position"> <!-- TODO: value = current if defined -->
                        <option>QB</option>
                        <option>OL</option>
                        <option>WR</option>
                        <option>RB</option>
                        <option>TE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <textarea class="form-control" id="bio" name="bio" rows="3"><%= (typeof player === 'undefined') ? '' : player.bio %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>  
          </div>
        </div>
    </div>

<%- include('footer') -%>